/* nav*/
span
{
  color: greenyellow;
  font-family: cursive;
}

#de
{
  color: white;
}
.navbar > .container-fluid
{
  background-color: black;
  border: 1px darkgreen solid;
  border-radius: 10px;
}
.navbar-expand-sm .navbar-nav .nav-link
{
  color: white;
}
#fit
{
  color: white;
}


/* body*/

.bg-body-tertiary
{
  background-color: black !important;
}
#home
{
  
  height: 1000px;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-image: url('../home.jpg');
  background-size:contain ;
}
#first
{
  color: white;
  font-size: 64px;
  font-family: cursive;
  
  padding-top: 425px;
}
#SecSection
{
    background-color: #425924;
    max-width: 100%;
}
#sec
{
  color: white;
  font-size: 32px;
  font-family: cursive;
  padding-left: 100px;
  
}
#secO
{
  padding-left: 200px;
  display: inline-flex;
}
#secS
{
  padding-left: 200px;
  display: inline-flex;
}
#secT
{
  display: inline-flex;
  padding-left: 200px;
}
#THSection
{
  color: white;
  font-family: cursive;
  height: 1450px;
  max-width:100%;
  background-image: linear-gradient(to right,#55811b 5%,#000000 95%);
}
#ha
{
  color: white;
  font-size: x-large;
  font-family: cursive;
}

